{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'polls/thisStyle.css' %}" />

<h1>Welcome to MovietoV</h1>

{% if data %}
    <ul>
    {% for movie in data %}
        <ul>
            <div>
                <table style="width: 50%">
                    <tr rowspan="2">
                        <th> <h2>{{movie.Movie_Title }}</h2></th>
                        <td> </td>
                        <td> </td>
                    </tr>
                    <tr>
                       <th rowspan="2"><img class=movieIMG src= {{movie.image.url}}></img></th> 
                        <td> <img class=stars src="{% static 'polls/Images/5s.JPG' %}"></img></td>
                        <td> <img class=stars src="{% static 'polls/Images/5s.JPG' %}"></img></td>
                       <tr>
                       <td>avg: {{movie.avg}} </td>
                       <td>
                           <form>
                                <input name=myvote type="range" min="1" max="5" value="0" onchange="slider(this)">
                                <button type="button" onclick="myButton(this)">
                                    Vote!
                                </button>
                            </form>
                       </td>
                       </tr>
                    </tr>
                </table>
            </div>
        </ul>
    {% endfor %}
    </ul>
{% else %}
    <p>No movies are available to vote on.</p>
{% endif %}