#stars{
    display: inline-block;
    border-radius: 4px;
    padding: 5px;
}
.stars{
    width: 150px;
    height: auto;
}
body{
    background: blue url("Images/background.jpg");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

    

#movieIMG {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
}

.movieIMG{
    width: 140px; 
    height: auto;
}

table, th, td{
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    text-align: left;
}

